@model Tienda_Benito.Models.Producto
@{
    ViewData["Title"] = "Eliminar Producto";
}

<h2>Eliminar Producto</h2>

<h3>¿Estás seguro de que deseas eliminar este producto?</h3>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}


<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>

        <dt class="col-sm-2">Precio Venta</dt>
        <dd class="col-sm-10">@Model.PrecioVenta</dd>

        <dt class="col-sm-2">Proveedor</dt>
        <dd class="col-sm-10">@Model.Proveedor?.Nombre</dd>

        <dt class="col-sm-2">Rubro</dt>
        <dd class="col-sm-10">@Model.Rubro?.Nombre</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ProductoId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
