@model Tienda_Benito.Models.Usuario

@{
    ViewData["Title"] = "Detalle de Usuario";
}

<h2>Detalle de Usuario</h2>

<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
        <p class="form-control-plaintext">@Model.Nombre</p>
    </div>
</div>

<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
        <p class="form-control-plaintext">@Model.Apellido</p>
    </div>
</div>

<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <p class="form-control-plaintext">@Model.Email</p>
    </div>
</div>

<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Rol</label>
    <div class="col-sm-10">
        <p class="form-control-plaintext">@Model.Rol</p>
    </div>
</div>

<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Avatar</label>
    <div class="col-sm-10">
        @if (!string.IsNullOrEmpty(Model.Avatar))
        {
            <img src="@Url.Content("~/uploads/" + usuario.Avatar)" alt="Avatar" width="100" class="rounded" />

        }
        else
        {
            <p><em>No tiene avatar cargado</em></p>
        }
    </div>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.UsuarioId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</p>
