@model Tienda_Benito.Models.Proveedor

@{
    ViewData["Title"] = "Detalles del Proveedor";
}

<h1>Detalles del Proveedor</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Teléfono</dt>
        <dd class="col-sm-9">@Model.Telefono</dd>

        <dt class="col-sm-3">Dirección</dt>
        <dd class="col-sm-9">@Model.Direccion</dd>

        <dt class="col-sm-3">CUIT</dt>
        <dd class="col-sm-9">@Model.Cuit</dd>

        <dt class="col-sm-3">Razón Social</dt>
        <dd class="col-sm-9">@Model.RazonSocial</dd>

        <dt class="col-sm-3">Datos Bancarios</dt>
        <dd class="col-sm-9">@Model.DatosBancarios</dd>
    </dl>
</div>
<a class="btn btn-secondary" asp-action="Index">Volver</a>
